.paginado {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-bottom: 10px;
  
}

  .number {
    color: black;
    list-style: none;
    flex-grow: initial;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    padding: 2px;
    position: relative;
    left: -2%;
}

.img {
  text-decoration: none;
  color: black;
  padding: 1px 15px;
  border-radius: 5px;
}

.img:hover {
  background-color: black;
  color: white;
}